{% extends '::base.html.twig' %}

{% block container -%}
    <h1>Profumo creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('profumo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
