{% extends '::base.html.twig' %}

{% block container -%}
    <h1>Mignon creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mignon') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
