{% extends 'RsCollezioneStronatiBundle::mostraOggetto.html.twig' %}

{% set oggetto = 'mignon' %}

{% block proprietaFiglie %}
    <tr>
        <th>Altezza</th>
        <td>{{ entity.altezza }}</td>
    </tr>
    <tr>
        <th>Contenuto</th>
        <td>{{ entity.contenuto }}</td>
    </tr>
    <tr>
        <th>Localita</th>
        <td>{{ entity.localita }}</td>
    </tr>
    <tr>
        <th>Sigillo</th>
        <td>
            {% if entity.sigillo %}
                Si
            {% else %}
                No
            {% endif %}
        </td>
    </tr>
{% endblock %}